/** CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #b91450;
}

section{
    padding-top: 30px;
}

/*? Sezione richiesta dati */

.custom-form-card {
 background-color: white;
 height: 300px;

 border-radius: 20px;
 box-shadow: 0 0 10px gray;
}

.text-magenta {
    color: #b91450;
    font-weight: 600;
}

/** Style btn */

.custom-btn {
    color: #b91450;
    border-color: currentColor;
}

.custom-btn:hover {
    background-color: #b91450;
    color: white;
}

/*? Sezione Ticket */

.ticket {
    height: 300px;
    display: flex;
}

.header-ticket {
    height: 50px;
    background-color: #ffa04f;
    border-radius: 10px 10px 0 0;
}

.ticket .col > * {
    padding-bottom: 15px;
}

.info-ticket {
    font-size: 18px;
    font-weight: 600;
}

.left-ticket {
    background-color: antiquewhite;
    width: 70%;
    border-right: 1px dotted black;
    border-radius: 10px;
}

.right-ticket {
    background-color: antiquewhite;
    width: 30%;
    border-right: 1px dotted black;
    border-radius: 10px;
}
